@import "scssMixins";
@import "scssPeremens";
body {
  font-size: 20px;
  font-family: "Nanum Myeongjo", serif;
  background: url(./imges/fon2.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  top: 0;
  left: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.main {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  margin: 0 auto;
}
h1,
h2 {
  color: #fff;
}
div {
  display: flex;
  margin-right: 40px;
}
img {
  width: 230px;
  height: 300px;
}
.box1 {
  border: 2px solid #000;
}
.box2 {
  width: 230px;
  height: 300px;
}
@media only screen and(max-width: 1200px) {
}
@media only screen and(max-width: 992px) {
  body {
    background-size: auto;
  }
}
@media only screen and(max-width: 768px) {
  div {
    display: block;
    font-size: 15px;
    padding-left: 2px;
  }
  .main {
    background-color: rgba(0, 0, 0, 1);
  }
}
@media only screen and(max-width: 480px) {
  body {
    background-size: auto;
  }
  .main {
    background-color: rgba(0, 0, 0, 1);
  }

  @media only screen and(max-width: 320px) {
    body {
      background-size: auto;
    }
    div {
      display: block;
    }
  }
}
