body {
  margin: 0;
  font-family: Tahoma, sans-serif;
}

h1,
h2,
h3 {
  color: #fff;
}

.intro {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #000;
}
.intro::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.video {
  position: relative;
  padding-bottom: 56 0.25%;
}

.video__media {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.intro__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  overflow: scroll;
}

.intro__title {
  color: #fff;
}

.text {
  color: #fff;
}

.text2 {
  color: #fff;
}

.text3 {
  color: #fff;
}

.text4 {
  color: #fff;
}