body {
  font-size: 16px;
  font-family: "Shippori Mincho B1", serif;
  background: url(./imges/Naruto.jpg) no-repeat;
  background-size: cover;
  color: #b22222;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-family: "Shippori Mincho B1", serif;
  font-size: 100px;
}

ul,
li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  font-size: 20px;
  color: #b22222;
  text-shadow: #c71322 1px 0 10px;
}

.aaa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: 100ms linear;
          transform: 100ms linear;
  cursor: pointer;
}
.aaa:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.podm,
.podm1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 400px;
}

.podm1,
.logo {
  margin-right: 40px;
}

.menu {
  background: #000;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.logo {
  width: 120px;
  height: 100px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
}

.fff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: 100ms linear;
          transform: 100ms linear;
  cursor: pointer;
}
.fff:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

img {
  width: 45px;
  height: 35px;
  margin: 15px 0 10px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
}

.tel {
  margin-top: 21px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: 100ms linear;
          transform: 100ms linear;
  cursor: pointer;
}
.tel:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.section {
  background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 15% 1em 15% 1em 15% 1em 15% 1em 15% 1em 15%;
  grid-template-columns: repeat(6, 15%);
  grid-gap: 1em;
  grid-auto-rows: 300px;
}

figure {
  background-color: rgba(39, 35, 35, 0.5);
}

.wrapper img {
  width: 200px;
  height: 260px;
  font-family: "Shippori Mincho B1", serif;
}

.gallery__img1 {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.gallery__img1:hover {
  width: 220px;
  height: 280px;
  opacity: 1;
}

.gallery__img2 {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.gallery__img2:hover {
  width: 220px;
  height: 280px;
  opacity: 1;
}

.gallery__img3 {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.gallery__img3:hover {
  width: 220px;
  height: 280px;
  opacity: 1;
}

.gallery__img4 {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.gallery__img4:hover {
  width: 220px;
  height: 280px;
  opacity: 1;
}

.gallery__img5 {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.gallery__img5:hover {
  width: 220px;
  height: 280px;
  opacity: 1;
}

.gallery__img6 {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.gallery__img6:hover {
  width: 220px;
  height: 280px;
  opacity: 1;
}

.color {
  color: #fff;
}